.title {
    margin-top: 20px;
}
.botoes{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
    
}

.botoes a {
      text-decoration: none;
}

.botoes [class^="botao"]  {
    height: 50px;
    text-align: center;
    border-radius: 15px;
    width: 120px;
    background-color: aquamarine;
}

