.wrapper {
    display: flex;
    height: 100vh;
    width: 100%;
    overflow-y: auto;
}

.conteudo{
    display: flex;
    overflow-y: auto;
    flex-direction: column;
    gap: 40px;
    height: 100vh;
}

.painel{
    height: 150px;
    width: 80%;
    margin-top: 10px;
    display: flex;
    margin-top: 40px;
    gap: 20px;
}

.painel div{
    height: 130px ;
    color: #555;;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.10);
}



.cadastro-horario form > input{
    width: 200px;
}

.rotas{
    display: flex;
    background-color:white ;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.10);
    border-radius: 15px;
    width: 80%;
    height: 600px;
    gap: 30px;
    justify-content: center;
    align-items: center;
    
}

.rotas > div {
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 300px;
    width: 300px;
    border-radius: 15px;
    margin-bottom: 50px;
    background-color: #16a774;
    transition: all 100ms;
}

.rotas > div:hover {
    transform: translateY(-8px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.rotas > div > h3 {
    margin-top: 20px;
    color: #065082;
    font-size: 23px;
    font-weight: bold;
}

.rotas > div > p {
    
    width: 95%;
    margin-top: 10px;
    color: white;
    text-align: justify;
    margin-left: 5px;
}