.horarios-cadastrados{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
    background-color:white ;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.10);
    border-radius: 15px;
    width: 80%;
    height: 700px;
    margin-top: 30px;
    padding-top: 40px;
}
