{% extends "base.html" %} 

{%block title%} pratiCA {%endblock%}

{%block conteudo%}

<link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">


<div class="wrapper">
    <div class="conteudo">
        <div class="painel">
            <div>
                <h4>Total de horarios</h4>
                <h5>{{total}}</h5>
            </div>
            <div>
                <h4>Ativos Hoje</h4>
                <h5>{{hoje}}</h5>
            </div>
            <div>
                <h4>Próximo</h4>
            </div>
        </div>

       
        <!-- caixa que guarda as divs que vão redirecionar -->
        <div class="rotas">
            <!-- parte que somente professores conseguem fazer -->
            <div>
                <h3>Cadastrados</h3>
                <p>Aqui você pode ver os horarios que você cadastrou anteriormente</p>
            </div>
            <div>
                <h3>Cadastrar CA</h3>
                <p>Nesse link o professor pode cadastrar seu horario de CA</p>
            </div>
            <!-- parte que somente alunos podem fazer -->
            <div>
                <h3>CAs disponiveis</h3>
                <p>Nesse link o aluno tem acesso aos horarios que estão disponiveis para ele se inscrever
                </p>
            </div>
            <div>
                <h3>CAs que participarei</h3>
                <p>Nesse link o aluno tem acesso aos horarios que ele se inscreveu para atividade de CA</p>
            </div>
        </div>
        
        

        

    </div>
</div>

{%endblock%}